extends layout

block content
    h1 About Wideor.it
    .well
        h2 What is it?
        .text
            | Wideor.it enables you to quickly create videos from a series of photos.
            | It was created during spring 2013 so it is pretty new and more things will come.
            | The priority right now is to enable you to use your local photos rather than just links.
        h2 But Why?
        .text
            | Wideor.it was made for fun when I wanted to learn stuff like
            | <a href="http://nodejs.org/">node.js</a>, <a href="http://redis.io/">redis</a> and
            | <a href="http://backbonejs.org/">backbone</a>. If you think it is cool and want to help or
            | want to see how it works everything is on github
            | <a href="http://github.com/lahabana/wideor-server">Wideor-server</a>.
        h2 Ho My God it's crap and it never works!
        .text
            | As I have just said I am a beginner in all this stuff so please tell me when you find bugs.
            | Either tweet to <a href="https://twitter.com/lahabanaroom" target="_blank">@lahabanaroom</a>
            | or if you are a github nerd go directly
            | on <a href="http://github.com/lahabana/wideor-server">Wideor-server</a>.
        h2 I want something else! Can I ask for it?
        .text
            | Well why not if it's good? Try to contact
            | <a href="https://twitter.com/lahabanaroom" target="_blank">@lahabanaroom</a>
            | with your amazing idea and maybe I will do it.
