extends layout

block content
    h1 Wideor.it
    h2 make a video diaporama in minutes
    p
        | Wideor.it is simple. Get the links of the photos you want select a size and a duration
        | launch it come back later and download your video.
    blockquote
        | Wideor.it is in version alpha please report your bugs so we can fix them.
    a.bblink.btn.btn-primary(href="/videos/add", type="button") Get Started
