doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
        block header
    #content
        block content
    #footer
        block footer
    script(data-main="/javascripts/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js")
