<form>
<div class="error"></div>
<input type="number" id="form-duration" value="{{duration}}"/>
<input type="text" id="form-format" value="{{format}}"/>
<div class="file-adder">
    <ul class="files">
    </ul>
    <button data-action="add" class="addFiles">+</button>
</div>
<button class="submit">submit</button>
</form>
