//@import "bootstrap/bootstrap.less";

html, body {
    height: 100%;
}

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#footer, #push {
    height: 60px;
}

#footer {
    background-color: #080808;
}

#footer .container {
    max-width: 680px;
    width: auto;
}
#footer .container .credit {
    margin: 20px 0;
}

.files li {
    padding-top: 5px;
}
