{{! Template for the not found video}}
<h1>Wideor.it - {{code}}</h1>
<h2>This video either has not been created or it expired</h2>
{{#if message}}
<blockquote>If you want to know more: {{message}}</blockquote>
{{/if}}
