{{! main template for the form to add a video}}
<form class="well form-horizontal span7">
<fieldset>
    <legend>Create a new Video</legend>
    <div class="error alert alert-error hide">
        <strong>Error</strong>
        <span class="content"></span>
        <a class="close">×</a>
    </div>
    <div class="control-group main-form">
        <label for="form-duration" class="control-label">Duration:</label>
        <div class="controls">
            <input type="number" id="form-duration" class="input-xlarge" value="{{duration}}"/>
            <p class="help-block">How long each image should appear for in seconds</p>
        </div>
        <label for="form-format" class="control-label">Format:</label>
        <div class="controls">
            <input type="text" id="form-format" class="input-xlarge" value="{{format}}"/>
            <p class="help-block">The format of the video should be [width pixels]x[height pixels]</p>
        </div>
    </div>

    <div class="file-adder control-group hide">
        <p>Add files you want to be part of the video (the order is important):</p>
        <ul class="files unstyled">
        </ul>
        <p class="help-block">You can either upload files or provide a url for an existing file</p>
        <button data-action="add" class="addFiles btn btn-inverse">Add File from Url</button>
        <div class="btn btn-primary fileinput-button">
            <span>Add Files from disk</span>
            <input class="fileupload" type="file" name="file" accept="image/*" multiple>
        </div>
    </div>
<div class="form-actions">
    <button class="submit btn btn-inverse hide">create</button>
    <button class="next btn btn-inverse">Add images</button>
</div>
</fieldset>
</form>
