<li>
    <input class="file-url" type="url" placeholder="file url"/>
    <input class="file-format" type="text" placeholder="format"/>
    <button data-action="remove" class="removeFile btn">-</button>
</li>
