<li>
    {{#if upload}}
        <input disabled="disabled" class="file-name" type="text" value="{{name}}"/>
        <input type="hidden" class="file-url"/>
    {{else}}
        <input class="file-url" type="url" placeholder="file url"/>
    {{/if}}
    <input class="file-format" type="text" placeholder="format" {{#if format}}value="{{format}}" disabled="disabled" {{/if}}/>
    <button data-action="remove" class="removeFile btn">-</button>
    <button class="btn status badge badge-info" data-status="stopped" data-action="start">Start</span>
</li>
